<h1>ゴルフの会の一覧</h1>
<p>入会したい会のidをクリックして、入会申請してください</p>
<table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>会の名前</th>
        <th>管理者</th>
        <th>ゴルフ場</th>
      </tr>
    </thead>
    <tbody>
     <% @parties.each do |party| %>
        <% if Request.where(party_id: party.id,member_id: current_member.id) == [] %>
          <tr>
            <td><%= link_to party.id, new_request_path(party.id) %></td>
            <td><%= party.name %></td>
            <td><%= Member.find(party.member_id).name %></td>
            <td><%= party.golfcourse_id %></td>
          </tr>
       <% end %> 
      <% end %>
    </tbody>
  </table>
  <%= paginate @parties %> 
