<h1>Participants#edit</h1>
<h1>スケジュールの変更</h1>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model:@participant, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
     <div class="form-group">
        <% 'プレー日' %>
       
      </div>
      
      <div class="form-group">
        <%= f.label :mark, '出欠ﾏｰｸ' %>
        <%= f.select :mark,(@schedule.mark.each_with_object []  do |value, array_new| array_new << [value,value]  end ),  class: 'form-control' %>
      </div>
      

      <div class="form-group">
        <%= f.label :comment, 'コメント' %>
        <%= f.text_field :comment, class: 'form-control' %>
      </div>  
      <div class ="col-sm-3">
          <%= f.submit '送信', class: 'btn btn-primary btn-block d-inline' %>
           <%= link_to "Delete", @schedule, method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'btn btn-danger '%>
      </div>

    <% end %>
  </div>
</div>