<h1>Participants#index</h1>
<table class="table table-striped">
  <h1>スケジュール一覧</h1>
  <thead>
      <tr>
        <th>id</th>
        <th>プレー日</th>
        <th>曜日</th>
        <th>ﾏｰｸ</th>
        <th>コメント</th>
      </tr>
  </thead>
    <tbody>
    <%= form_with(model:@participant, local: true) do |f| %>
     <% @schedules.each do |schedule| %>  
        <% @participant = Participant.find_by(schedule_id: schedule.id , member_id:current_member.id) %>
        <% if @participant == nil %>
        
            <tr>
              <td>未入力</td>
              <td><%= schedule.date %></td>
              <td><%= %w(日 月 火 水 木 金 土)[schedule.date.wday] %></td>
              <td><%= f.select :marks[],(schedule.mark.each_with_object []  do |value, array_new| array_new << [value,value]  end ) %></td></br>
              <td><%= f.text_field schedule.comment %></td>
            </tr> 
        <% else %> 
             <tr>
              <td><%= link_to schedule.id,edit_schedule_path(schedule.id) %></td>
              <td><%= schedule.date %></td>
              <td><%= %w(日 月 火 水 木 金 土)[schedule.date.wday] %></td>
              <td><%= schedule.mark %></td>
              <td><%= schedule.comment  %></td></br>
            </tr>         
         <% end %>
      <% end %>
      <%= f.submit '送信', class: 'btn btn-primary btn-block d-inline' %>
     <% end %>
    </tbody>
  </table>

<%= paginate @schedules %> 


