<h1>Schedules#edit</h1>
<div class="text-center">
  <h1>スケジュールの編集</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model:@schedule, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :date, 'プレー日' %>
        <%= f.date_field :date, class: 'form-control' %>
      </div>
      <div  class="form-group">
        <% @schedule.mark.each.with_index do |mark,i|%> 
          <label%>
          <%= check_box_tag 'schedule[marks][]', mark,true,id:"schedule_marks_#{i}" %>
          <%= mark %>
          </label%>
        <% end %>
        <br/>
        <span class="remarks">使わないマークのチェックを外してください。</span>>
			</div>        
      <div class="form-group">
        <%= f.label :mark1, '追加ﾏｰｸ' %>
        <%= f.text_field  'mark1' , class: 'form-control' %>
      </div>


      <div class="form-group">
        <%= f.label :comment, 'コメント' %>
        <%= f.text_area :comment, class: 'form-control' %>
      </div>  
      <div class ="col-sm-3">
          <%= f.submit '送信', class: 'btn btn-primary btn-block d-inline' %>
           <%= link_to "Delete", @schedule, method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'btn btn-danger '%>
      </div>

    <% end %>
  </div>
</div>
