<div class="text-center">
  <h1>スケジュール登録</h1>
</div>

<div class="row">

 <div class="col-sm-10 offset-sm-2">
    <%= form_with(model:Schedule, local: true) do |f| %>
       <div class="form-group form-inline">
          <label class="col-sm-2 col-form-label">予定日</label>
          <%= f.date_field :play_at_date, class: 'form-control' %>
          <span class="remarks">Box内をクリックするとカレンダーから日付を指定できます。</span>
      </div>
      
      <div class="form-group form-inline">
        <label  class="col-sm-2 col-form-label">繰返し(週)</label> 
        <%= f.select :repeat, (1..52).to_a.map { |v| "%02d" % v }, {}, class: 'col-sm-1 d-inline'  %>
      </div>
      
  
      <div class="form-group">
        <tr>
					<td class="f" rowspan="2">
						使用するマーク  
					</td>

          <td  class="form-group">
            <% %w(◎   〇  △   ✖   月例杯A   月例杯B   ).each.with_index do |mark,i|%> 
            <label%>
            <%= check_box_tag 'schedule[marks][]', mark,true,id:"schedule_marks_#{i}" %>
            <%= mark %>
            </label%>
            <% end %>
             <br />
					</td>
					<td class="d2">
						<span class="remarks">使わないマークのチェックを外してください。</span>
					</td>
				</tr>            
      </div>
      <div class="form-group">
        <tr>
					<td class="f" rowspan="2">
						追加するマーク  
					</td>

          <td  class="form-group col-sm-1 d-inline">
            <%= f.text_field :mark1 %>
            <%= f.text_field :mark2 %>
					</td>

				</tr>            
      </div>
      <%= f.submit '送信', class: 'btn btn-primary btn-block offset-sm-2 col-8' %>
    <% end %>
 </div>
</div>
