<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <% if $current_party == nil %>
      <a class="navbar-brand" href="/">会の名前</a>
    <% else %>
      <a class="navbar-brand" href="/"><%= $current_party.name %></a>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav">
        <% if logged_in? %>
           <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_member.name %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to '出欠状況', schedule_path(current_member) %></li> 
              <li class="dropdown-item"><%= link_to 'ｽｹｼﾞｭｰﾙ一覧', participants_path(current_member) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to '会員一覧', members_path(current_member) %></li>
              <li class="dropdown-item"><%= link_to '会の一覧', parties_path(current_member) %></li>              
              <li class="dropdown-item"><%= link_to '申請状況', request_path(current_member) %></li>                
              <li class="dropdown-item"><%= link_to 'ﾌﾟﾛﾌｨｰﾙ', edit_member_path(current_member) %></li>
              <li class="dropdown-item"><%= link_to '会の創設', new_party_path(current_member) %></li>               
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'Logout', logout_path, method: :delete %></li>
              <li class="dropdown-item"><%= link_to '退会', current_member, method: :delete, data: { confirm: "本当に退会しますか?" }  %></li> 
            </ul>
          </li>
          <% if organizer_logged_in? %>
               <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle"  data-toggle="dropdown">管理者ﾒﾆｭｰ</a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-item"><%= link_to '出欠状況', schedule_path(current_member) %></li>
                  <li class="dropdown-item"><%= link_to 'ｽｹｼﾞｭｰﾙ登録', new_schedule_path(current_member) %></li>
                  <li class="dropdown-item"><%= link_to 'ｽｹｼﾞｭｰﾙ一覧', schedules_path(current_member) %></li>
                  <li class="dropdown-item"><%= link_to 'お知らせ', root_url(current_member) %></li> 
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item"><%= link_to '会の編集', party_path(current_member) %></li>   
                  <li class="dropdown-item"><%= link_to '入会審査', requests_path(current_member) %></li>
                  <li class="dropdown-item"><%= link_to '会員一覧', members_path(current_member) %></li>                   
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-item"><%= link_to '管理者交替', organizer_path(current_member) %></li>      
                  <li class="dropdown-item"><%= link_to '会の削除', $current_party, method: :delete, data: { confirm: "本当に会を削除しますか?" }  %></li> 
                </ul>
              </li>
          <% else %> 
          <% end %>
        <% else %>        
          <li class="nav-item"><%= link_to 'Signup', signup_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Login', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>