<h1>Members#show</h1>
<table>
  <tr>
    <td class="border-top m-3 p-3"><strong>id</strong></td>
    <td class="border-top p-3 text-align-left"><%= @member.id %></td>
</tr>
<tr>
    <td class="border-top m-3 p-3"><strong>生年月日</strong></td>
    <td class="border-top p-3"><%=@member.name %></td>
</tr>
<tr>
    <td class="border-top m-3 p-3"><strong>性別</strong></td>
    <td class="border-top p-3"><%=@member.gender%></td>
</tr>
<tr>
    <td class="border-top m-3 p-3"><strong>メールアドレス</strong></td>
    <td class="border-top p-3"><%=@member.email%></td>
</tr> 
<tr>
    <td class="border-top m-3 p-3"><strong>メールアドレス１</strong></td>
    <td class="border-top p-3"><%=@member.email1%></td>
</tr> 
<tr>
    <td class="border-top m-3 p-3"><strong>電話番号</strong></td>
    <td class="border-top p-3"><%=@member.tel%></td>
</tr> 
<tr>
    <td class="border-top m-3 p-3"><strong>電話番号１</strong></td>
    <td class="border-top p-3"><%=@member.tel1%></td>
</tr> 

</table>